.options {
    margin-top: -1px;
    overflow-y: auto;
    overflow-x: hidden;
    border: solid 1px $optionsBorderColor;
    background: $backgroundColor;

    .hasInput {
        padding: 0px 2px;
        display: block;
        white-space: nowrap;

        &.checked {
            background-color: $checkedBackgroundColor;
        }

        &.selectAll {
            border-bottom: dotted 1px $selectAllBottomBorderColor;
        }

        &.hover {
            background-color: $hoverBackgroundColor;
            color: white;
        }
    }

    .optGroupLabel {
        font-weight: bold;
    }

    .optGroup .hasInput {
        padding-left: 10px;
    }

    &.optGroupHasCheckboxes .optGroup .hasInput {
        padding-left: 18px;

        &.optGroupLabel {
            padding-left: 0;
        }
    }

    input {
        vertical-align: middle;
    }

}

