$borderColor: rgb(169, 169, 169);
$hoverColor: rgb(127, 127, 127);
$focusOutlineColor: rgb(0, 151, 229);
$activeColor: rgb(102, 136, 191);
$optionsBorderColor: rgb(121, 155, 210);

$arrowColor: rgb(0, 0, 0);

$backgroundColor: rgb(255, 255, 255);
$hoverBackgroundColor: rgb(30, 144, 255);
$checkedBackgroundColor: rgb(220, 229, 248);

$selectAllBottomBorderColor: rgb(204, 204, 204);

$checkboxColor: rgb(0, 0, 0);
$checkboxShadowColor: rgb(128, 128, 128);
$checkboxBorderColor: rgb(192, 192, 192);
$checkboxGradientColor1: rgb(240, 240, 240);
$checkboxGradientColor2: rgb(224, 224, 224);

